.header {
    width: 30vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    background-color: aquamarine;
    color: #fff;
}