.search {
    height: 5vh;
    width: 30vh;
    position: absolute;
    right: 1px;
    top: 5vh;
}

.search-input {
    width: 27vh;
    padding: 10px;
    text-transform: capitalize;
    font-size: 14px;
    border: 0;
}