.search-container {
    height: 5vh;
    width: 25vh;
    display: flex;
    position: absolute;
    right: 0;
    top: 10vh;
}

.search-input {
    width: auto;
    padding: 10px;
    text-transform: capitalize;
    font-size: 14px;
}